### Symfony
.env**
config/secrets/prod/prod.decrypt.private.php
config/jwt/*.pem
public/bundles/
var/
vendor/

### Angular
.vscode/
dist/
tmp/
node_modules/
package-lock.json
.angular/

# System files
.DS_Store
Thumbs.db